@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.main_massage_container {
  padding: 50px;
  margin-bottom: 100px;
  background-color: #F3F3F3;
  display: grid;
  column-gap: 100px;
  row-gap: 50px;
  grid-template-columns: repeat(12, 1fr);
}

#box-1 {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 7;
}

#box-1 input {
  width: 100%;
}

#box-2 {
  grid-column-start: 7;
  grid-column-end: -1;
}

#box-2 input {
  width: 100%;
}

#box-3 {
  grid-column-start: 1;
  grid-column-end: -1;
}

#box-3 input {
  width: 100%;
}

#box-4 {
  grid-column-start: 1;
  grid-column-end: -1;
}

#box-4 textarea {
  height: 300px;
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 8px;
  border: 1px solid #E8E8E8;
}

.massage_box_container p {
  font-size: 1.1rem;
  font-weight: 600;
  color: #444444;
  padding-bottom: 10px;
  font-family: "Inter", serif;
}

.massage_box_container input {
  outline: none;
  padding: 10px 10px;
  border-radius: 8px;
  border: 1px solid #E8E8E8;
}

.message_sub_container {
  grid-column-start: 1;
  grid-column-end: -1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  position: relative;
}

.message_sub_container input {
  position: absolute;
  top: 0px;
  font-size: 1.1rem;
  font-weight: 700;
  color: #ffffff;
  font-family: "Inter", serif;
  cursor: pointer;
  padding: 8px 40px;
  background: linear-gradient(90.00deg, #835d23,#b58130 100%);
}

.message_sub_container input:active {
  transition: 0.1s ease-in;
  padding: 7px 39px;
}