.main_form_outer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border: 2px solid purple;
}

.main_form_inner_container {
  height: auto;
  width: 60%;
  border: 2px solid green;
}

.pay_button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  font-family: "Inter", serif;
}

.pay_button button {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 10px 150px;
  border-radius: 8px;
  background-color: #570DF8;
}

.pay_button button:active {
  background-color: #4c10cd;
}