.main_image_slider_container {
  cursor: pointer;
}

.swiper-wrapper {
  padding-bottom: 50px;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  top: 95%;
}