.main_user_List_outer_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.main_user_List_inner_container {
  height: 100%;
  width: 80%;
  padding: 50px;
  background-color: #ffffff;
}

.user_list_title_container h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 20px 0;
  font-family: "Cinzel", serif;
}