.main_shop_bg_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  background-image: url("https://i.postimg.cc/J0LhByZ1/banner2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shop_title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  width: 70%;
  color: #ffffff;
  text-align: center;
  background-color: #15151590;
}

.shop_title_container h2 {
  font-size: 5rem;
  font-family: "Cinzel", serif;
  font-weight: 700;
}

.shop_title_container p {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Cinzel", serif;
}

@media screen and (max-width: 1024px) {
  .shop_title_container {
    height: 45%;
    width: 90%;
  }

  .shop_title_container h2 {
    font-size: 4.5rem;
  }

  .shop_title_container p {
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 768px) {
  .shop_title_container {
    height: 40%;
    width: 90%;
  }

  .shop_title_container h2 {
    font-size: 4.2rem;
  }

  .shop_title_container p {
    font-size: 1rem;
  }
}