@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.main_callus_content_container {
  color: #ffffff;
  text-align: center;
  margin: 100px 0;
  background-color: #151515;
  font-family: "Raleway", sans-serif;
}

.callus_inner_content_container h2 {
  font-size: 3.6rem;
  padding: 50px 0;
}

.callus_inner_content_container h2 div {
  display: inline-block;
}








@media screen and (max-width: 1024px) {
  .callus_inner_content_container h2 {
    font-size: 3.3rem;
  }
}

@media screen and (max-width: 768px) {
  .callus_inner_content_container h2 {
    font-size: 2.8rem;
    padding: 40px 0;
  }
}

@media screen and (max-width: 640px) {
  .callus_inner_content_container h2 {
    font-size: 2.2rem;
    padding: 35px 0;
  }
}

@media screen and (max-width: 475px) {
  .callus_inner_content_container h2 {
    font-size: 1.6rem;
    padding: 25px 0;
  }
}
