#main_sing_in_section_container{
  height: 80%;
  width: 90%;
  position: relative;
  box-shadow: 5px 5px 10px 2px #15151578;
}

.home_icon_in {
  font-size: 1.5rem;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 15px;
  border: 2px solid #151515;
  transition: 0.2s ease-in;
}

.home_icon_in:hover {
  border-radius: 50%;
}

#main_sing_in_section_container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 20px;
  background-color: transparent;
}

@media screen and (max-width: 1024px) {
  #main_sing_in_section_container {
    gap: 0px;
  }
}

@media screen and (max-width: 768px) {
  .main_sing_in_section_container {
    width: 95%;
  }
}