@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* NaveBar main style */

.main_navbar_container {
  max-width: 1920px;
  min-width: 640px;
  margin: auto;
}

/* HomePage main style */

.main_home_page_container {
  max-width: 1920px;
  min-width: 640px;
  margin: auto;
}

.main_image_slider_container {
  max-width: 1320px;
  min-width: 640px;
  margin: auto;
}

.main_bistro_service_container {
  max-width: 1320px;
  min-width: 640px;
  margin: auto;
}

.main_callus_container {
  max-width: 1320px;
  min-width: 640px;
  margin: auto;
}

.chef_recommend_card_box_container {
  max-width: 1320px;
  min-width: 640px;
  margin: auto;
}

.main_menu_item_container {
  max-width: 1320px;
  min-width: 640px;
  margin: auto;
}

.main_chackout_container {
  max-width: 1920px;
  min-width: 640px;
  margin: auto;
  margin-bottom: 100px;
}

.main_review_container {
  max-width: 1320px;
  min-width: 640px;
  margin: auto;
}

/* MenuPage main style */

.main_menu_baner_container {
  max-width: 1920px;
  min-width: 640px;
  margin: auto;
}

.main_today_offeref_container {
  max-width: 1320px;
  min-width: 640px;
  margin: auto
}

.mani_menu_food_baner_container {
  max-width: 1920px;
  min-width: 640px;
  margin: auto;
}

.main_dessert_baner_contaienr {
  max-width: 1920px;
  min-width: 640px;
  margin: auto;
}

.main_dessert_list_container {
  max-width: 1320px;
  min-width: 640px;
  margin: auto
}


/* Contact page main style*/

.main_contact_page_baner_container {
  max-width: 1920px;
  min-width: 640px;
  margin: auto;
}

.main_contact_location_container {
  max-width: 1320px;
  min-width: 640px;
  margin: auto;
}

.main_contact_message_container {
  max-width: 1320px;
  min-width: 640px;
  margin: auto;
}















/* Authentication section style */

.main_authentication_section_container {
  max-width: 1920px;
  min-width: 640px;
  margin: auto;
}




/* Footer main style */

.main_footer_container {
  max-width: 1920px;
  min-width: 345px;
  margin: auto;
}